<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
	<title>Inici Sessio</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="{{ asset('public/backend/css/registre.css') }}" rel="stylesheet">
</head>
<body>
	{% block content %}
		<div class="container">

			<header>

				
			</header>
			<section>				
				<div id="container_demo" >
					<!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
					<a class="hiddenanchor" id="toregister"></a>
					<a class="hiddenanchor" id="tologin"></a>
					<div id="wrapper">
						<div class="container-login mt">
							<div id="wrapper">
								<div id="login" class="animate form">                           
									<h1>Entra</h1>
									{% block fos_user_content %}
									{% endblock fos_user_content %}
									{% block titleBox %}
										<div class="col-sm-10 col-sm-push-1">
											<a href="{{ path('fos_user_security_login') }}" class="btn btn-head-login">Iniciar Sessió</a>
											<a href="{{ path('fos_user_registration_register') }}" class="btn btn-head-login">Registrar-se</a>
										</div>
									{% endblock %}
								</div>							
							</div>
						</div> 
						
					</div>
				</div>  
			</section>
		</div>
	{% endblock %}
</body>
</html>

