/* Menú superior */
ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#222;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}


/* Content */
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.container-diccionari {
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 15px;
    background: url('../images/diccionario.jpg');
    background-position: center;
    background-size: 100%;

}

.capa-blanca {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
    border-radius: 15px;
}

.container-categories {
    margin: 1%;
    padding: 3%;
    border: 1px solid black;
    border-radius: 15px;
    background: url('../images/categorias.jpg');
    background-position: center;
    background-size: 100%;

}

.boto-afegir {
    padding-top: 2%;
}

/* Footer */
footer {
    margin: 50px 0;
}